{% extends "base.html" %}
{% block title %}Input Buku{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title text-center">Input Buku</h4>
				</div>
				<div class="card-body">
					<form method="POST" action="">
						<div class="form-group">
							<label>Judul</label>
							<input type = "text" name= "judul" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Kategori</label>
							<input type = "text" name = "kategori" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Pengarang</label>
							<input type = "text" name = "pengarang" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Penerbit</label>
							<input type = "text" name = "penerbit" class="form-control"/>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-info pull-right">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}