{% extends "base.html" %}
{% block title %}List Buku{% endblock %}
{% block content %}
<div class="container">
	<div class="card">
		<div class="card-header">
			<div class="text-right">
				<a href="{{ url_for('add') }}" class="btn btn-sm btn-info">+ Tambah Buku</a>
			</div>
			<h4 class="card-title text-center">List Buku</h4>
		</div>
		<div class="card-body">
			<table id="example" class="table table-striped table-bordered" style="width:100%">
				<thead>
					<tr>
						<th>Judul</th>
						<th>Pengarang</th>
						<th>Penerbit</th>
						<th>Kategori</th>
						<th>Aksi</th>
					</tr>
				</thead>
				<tbody>
					{% for buku in ren %}
					<tr>
						<td>{{buku.judul}}</td>
						<td>{{buku.pengarang}}</td>
						<td>{{buku.penerbit}}</td>
						<td>{{buku.kategori}}</td>
						<td class="text-center">
							<a href="{{ url_for('ubah' ,kode=buku.id) }}" class="btn btn-warning btn btn-sm">Update</a>
							<a href="#!" class="btn btn-danger btn-sm" onClick="konfirmhapus('{{ url_for('delete' ,kode=buku.id) }}')">Delete</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal" id="deletemodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Yakin Hapus ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Batal</button>
        <a href="" id="btn-delete" class="btn btn-danger">Hapus</a>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
	function konfirmhapus(url){
		$('#btn-delete').attr('href',url);
		$('#deletemodal').modal();
	}
</script>
{% endblock %}