{% extends "base.html" %}
{% block title %}Update Buku{% endblock %}
{% block content %}
{% for x in row %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title text-center">Input Buku</h4>
				</div>
				<div class="card-body">
					<form method="POST" action="{{ url_for('update') }}">
						<input type="hidden" name="id" value="{{ x.0 }}">
						<div class="form-group">
							<label>Judul</label>
							<input type = "text" name= "judul" value="{{ x.1 }}" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Kategori</label>
							<input type = "text" name = "kategori" value="{{ x.2 }}" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Pengarang</label>
							<input type = "text" name = "pengarang" value="{{ x.3 }}" class="form-control"/>
						</div>
						<div class="form-group">
							<label>Penerbit</label>
							<input type = "text" name = "penerbit" value="{{ x.4 }}" class="form-control"/>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-info pull-right">Update</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endfor %}
{% endblock %}